<form class="activity-form col-lg-6">
  <h3>Quel sera votre activité du jour ?</h3>
  <div class="form-row">
    <div class="col-lg-3">
      <div class="form-group">
        <label for="inputState">Activité</label>
        <select id="inputState" class="form-control">
          <option selected>Choisir...</option>
          <option>Aller boire un verre</option>
          <option>Aller boire plusieurs verres</option>
          <option>Sortir toute la nuit</option>
          <option>Apéro à la maison</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="inputState">Ville</label>
        <select id="inputState" class="form-control">
          <option selected>Choisir...</option>
          <option>Lille</option>
          <option>Douai</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
          <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}" style="position:relative; top: -6px;"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </div>
</form>
