<div class="row">
  <div class="form-border col-lg-4">
    <h3>Quel sera votre activité du jour ?</h3>
    <hr>
    <div class="form-row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="inputState">Activité</label>
          <select id="inputState" class="form-control" [(ngModel)]="activity" (change)="activityOnChange($event.target.value)" [formControl]="activityControl">
            <option *ngFor="let activity of activityList" [value]="activity.id">{{activity.label}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4" *ngIf="isBar">
        <div class="form-group">
          <label for="inputState">Bars</label>
          <select id="inputState" class="form-control" [(ngModel)]="barValue" (change)="barOnChange($event.target.value, $event.target.textContent)">
            <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <ngb-timepicker [(ngModel)]="time" (ngModelChange)="onTimeChange($event)" style="position:relative; top: -6px;"></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-outline-primary" (click)="sendActivity()">Valider</button>
      </div>
    </div>
  </div>
  <div class="form-border col-lg-4">
      <app-members></app-members>
  </div>
  <div class="form-border col-lg-4">
    <h3>Historique</h3>
    <select class="form-control activity-filter">
      <option value="0">Toutes les activités</option>
      <option value="1">Il y a 1 semaine</option>
      <option value="2">Il y a 15 jours</option>
      <option value="3">Il y a 1 mois</option>
    </select>
    <hr>
    <div *ngIf="!activities.length" class="alert alert-custom" role="alert">
      Vous n'avez pas encore prévu d'activité !
    </div>

    <ul class="list-unstyled" *ngIf="activities.length">
      <li class="row activity" *ngFor="let activity of activities">
          <div class="col-lg-12">
            <span>{{activity.label}} - {{activity.time}}</span>
            <span (click)="deleteActivity(activity._id)" class="float-right btn btn-outline-primary">delete</span>
          </div>
      </li>
    </ul>
  </div>
</div>
