<div class="row">
  <div class="form-border col-lg-6">
    <h3>Quel sera votre activité du jour ?</h3>
    <hr>
    <div class="form-row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="inputState">Activité</label>
          <select id="inputState" class="form-control" [(ngModel)]="activity" (change)="activityOnChange($event.target.value)">
            <option value="Aller boire un verre">Aller boire un verre</option>
            <option value="Aller boire plusieurs verres">Aller boire plusieurs verres</option>
            <option value="Sortir toute la nuit">Sortir toute la nuit</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="inputState">Bars</label>
          <select id="inputState" class="form-control" [(ngModel)]="bar" (change)="barOnChange($event.target.value)">
            <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <ngb-timepicker [(ngModel)]="time" (ngModelChange)="onTimeChange($event)" style="position:relative; top: -6px;"></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="sendActivity()">Valider</button>
      </div>
    </div>
  </div>
  <div class="form-border col-lg-3">
    <h3>Historique</h3>
    <hr>
    <div *ngIf="!activities.length" class="alert alert-primary" role="alert">
      Vous n'avez pas encore prévu d'activité !
    </div>

    <ul class="list-unstyled" *ngIf="activities.length">
      <li class="row activity" *ngFor="let activity of activities">
          <div class="col-lg-12">
            <span>{{activity.label}} - {{activity.time}}</span>
            <span (click)="deleteActivity(activity)" class="float-right btn btn-primary">delete</span>
          </div>
      </li>
    </ul>
  </div>
</div>
