<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <app-return-button [path]="'/activity/'+choice"></app-return-button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-3">
      <h1 class="text-center">Ajouter un lieu</h1>
      <div class="row">
        <div class="col-lg-12">
          <input type="text" #search name="place" class="form-control" placeholder="Rechercher un lieu" minlength="50" autocorrect="off"
            autocapitalize="off" spellcheck="off">
        </div>
      </div>
    </div>
  </div>
</div>
