<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Plus d'infos sur {{member.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <img src="/assets/img/icons/close-black.png" alt="Close">
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="circular--small">
          <img class="" [src]="member.image" alt="{{member.name}}">
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <p class="age">Age:{{member.age}}</p>
      </div>
    </div>
    <div class="row mb-3">
      <ul>
        <li *ngFor="let hobby of member.hobbies">{{hobby}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-outline-primary join-activity-button">Rejoindre son activité</button>
        <span id="heart-beat" class="float-right" [class]="heartActive" (click)="likeMember()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content, null)">Voir le profil</button>
