<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Connexion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <img src="/assets/img/icons/close-black.png" alt="Close">
    </button>
  </div>
  <div class="modal-body m-auto">
    <div class="row">
      <button (click)="login('facebook')" class="facebook-button social-button">
        <i class="fab fa-facebook-f"></i>
        <span>Sign in with Facebook</span>
      </button>
    </div>
    <div class="row">
      <button (click)="login('google')" class="google-button social-button">
        <i class="fab fa-google-plus-g"></i>
        <span>Sign in with Google</span>
      </button>
    </div>
  </div>
</ng-template>

<img *ngIf="authService.isAuthenticated()" [src]="userData?.image" [alt]="userData?.name" class="avatar" [title]="userData?.name">
<button *ngIf="authService.isAuthenticated()" class="btn btn-outline-primary" routerLink="/profile">Profil</button>
<button *ngIf="!authService.isAuthenticated()" class="btn btn-outline-primary" (click)="open(content, null)">Connexion</button>
<button *ngIf="authService.isAuthenticated()" class="btn btn-outline-primary" (click)="logout()">Deconnexion</button>
