.facebook-button{
  background-color: #4267b2;
}

.google-button{
  background-color: #dd4b39
}

.social-button{
  color: rgb(250,250,250);
  padding: 10px 15px;
  border: none;
  outline: 0;
  border-radius: 3px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
}

.avatar{
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  height: 37px;
  width: 37px;
  border-radius: 50%;
}
