<div class="mt-5">

    <h1 class="text-center">Votre activité a bien été ajoutée</h1>

    <div class="check_mark mt-5 mb-5">
        <div class="sa-icon sa-success animate">
          <span class="sa-line sa-tip animateSuccessTip"></span>
          <span class="sa-line sa-long animateSuccessLong"></span>
          <div class="sa-placeholder"></div>
          <div class="sa-fix"></div>
        </div>
      </div>

      <div class="row justify-content-lg-center">
          <div class="col-lg-6 text-center">
              <button class="button-blue" routerLink="/dashboard">Voir mon dashboard</button>
          </div>
      </div>
</div>
