.main-img{
  position: relative;
  top: 150px;
  background-image: url('/assets/img/map.jpg');
  height:30em; background-size:cover;
  width:auto;
  background-position:50% 50%;
  -webkit-box-shadow: 0 9px 14px 0 rgba(62,108,200,.49);
  box-shadow: 0 9px 14px 0 rgba(62,108,200,.49);
}

.main-img img {
  position: relative;
  z-index: 3;
}

.img1{
  width: 400px;
  margin-left: -1px;
}

.img2{
  width: 500px;
  margin-left: -58px;
}

.img3{
  width: 400px;
  margin-left: -45px;
}
