<div class="container-fluid main">
  <!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
  <h1 class="main-title">{{intro}}</h1>
  <!--<div class="main-img">
    <div class="circular--landscape">
      <img class="img1" src="/assets/img/02.jpg" alt="">
    </div>
    <div class="circular--landscape">
      <img class="img2" src="/assets/img/01.jpg" alt="">
    </div>
    <div class="circular--landscape">
      <img class="img3" src="/assets/img/04.jpg" alt="">
    </div>
  </div> -->
</div>
