<div class="container-fluid main">
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <!-- <app-members></app-members>
  <app-events></app-events> -->
  <h1 class="">Une nouvelle manière de faire des rencontres sur Lille !</h1>
  <div class="main-img">
    <div class="circular--landscape">
      <img class="img1" src="/assets/img/02.jpg" alt="">
    </div>
    <div class="circular--landscape">
      <img class="img2" src="/assets/img/01.jpg" alt="">
    </div>
    <div class="circular--landscape">
      <img class="img3" src="/assets/img/03.jpg" alt="">
    </div>
  </div>
</div>