<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-title">{{intro}}</h1>
                <h2 class="main-sub-title">Friend finder propose chaque jour les activités des lillois que vous pouvez rejoindre</h2>
                <div class="box fade-in one">
                    <div class="circular--landscape">
                        <img class="img3" src="/assets/img/group.jpg" alt="">
                    </div>
                </div>
                <div class="box fade-in two"></div>
            </div>
            <div class="col-lg-6">
                <div class="main-img">
                    <div class="marker-2">
                        <div class="dot"></div>
                        <div class="pulse"></div>
                    </div>
                    <div class="marker-3">
                        <div class="dot"></div>
                        <div class="pulse"></div>
                    </div>
                    <div class="marker-4">
                        <div class="dot"></div>
                        <div class="pulse"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
