.main-img{
  position: relative;
  top: 150px;
  background-image: url('/assets/img/map.jpg');
  height:30em; background-size:cover;
  width:auto;
  background-position:50% 50%;
  -webkit-box-shadow: 0 9px 14px 0 rgba(62,108,200,.49);
  box-shadow: 0 9px 14px 0 rgba(62,108,200,.49);
}

.main-img img {
  position: relative;
  z-index: 3;
}

.img3{
  position: relative;
  left: -70px;
}

.marker-2 {
  top: 150px;
  left: 400px;
  position: absolute;
}

.marker-3 {
  top: 200px;
  left: 150px;
  position: absolute;
}

.marker-4 {
  top: 350px;
  left: 300px;
  position: absolute;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #2677f8;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: linear-gradient(120deg,#5263a3 9%,#2677f8 75%,#fe007a 120%);
  z-index: 10;
  position: absolute;
}

.dot {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -20px;
  left: -20px;
  z-index: 2;
  opacity: 0;
  border: 10px solid rgba(0,140,205,1);;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes pulse {
 0% {-moz-transform: scale(0);opacity: 0.0;}
 25% {-moz-transform: scale(0);opacity: 0.1;}
 50% {-moz-transform: scale(0.1);opacity: 0.3;}
 75% {-moz-transform: scale(0.5);opacity: 0.5;}
 100% {-moz-transform: scale(1);opacity: 0.0;}
}

@-webkit-keyframes "flash" {
 0% {-webkit-transform: scale(0);opacity: 0.0;}
 25% {-webkit-transform: scale(0);opacity: 0.1;}
 50% {-webkit-transform: scale(0.1);opacity: 0.3;}
 75% {-webkit-transform: scale(0.5);opacity: 0.5;}
 100% {-webkit-transform: scale(1);opacity: 0.0;}
}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/*---make a basic box ---*/
.box{
  width: 260px;
  height: 260px;
  position: relative;
  margin-top: 50px;
  margin-left: 45px;
  float: left;
  border-radius: 50%;
}
