.main-img{
  position: absolute;
  right: 280px;
  top: 150px;
}

.main-img img {
  position: relative;
  z-index: 3;
}

.img1{
  width: 400px;
  margin-left: -1px;
}

.img2{
  width: 500px;
  margin-left: -58px;
}

.img3{
  width: 400px;
  margin-left: -45px;
}
