ul {
  height: auto;
  overflow: hidden;
}


ul li {
  cursor: pointer;
  padding: 20px;
  font-size: 1.4em;
}

ul li:hover{
  background: linear-gradient(-132deg,#FD605D 21%,#FD3769 55%,#FE007A 100%);
  color: white;
}
