<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Friends Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="form-inline">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Connexion</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">S'inscrire</button>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
  <app-members></app-members>
  <app-events></app-events>
</div>