<h3>Membres actifs</h3>
<div class="row">
  <div class="col-lg-2 mt-4">
    <button class="btn btn-outline-primary" (click)="previousMember()">
        <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="circular--small mt-2" *ngIf="member?.user?.image !== null">
        <img [src]="member?.user?.image || ''" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{member?.user?.name}}</h5>
        <app-modal-members-infos [member]="member"></app-modal-members-infos>
      </div>
    </div>
  </div>
  <div class="col-lg-2 mt-4">
    <button class="btn btn-outline-primary" (click)="nextMember()">
        <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
