<section class="mx-auto container mt-5">
    <h1 class="text-center pt-3">Bonjour username</h1>
    <hr>

    <div class="wrapper center-content">
        <div>
            <div class="map">
                <!--<div class="zone-blue"></div>
                <div class="zone-green"></div> -->
            </div>
            <div class="center-content">
                <div class="pin">
                    <div class="pin-inner"></div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <h2 class="animated bounceInDown text-center">Votre activité du jour</h2>
        <h3 class="animated bounceInDown text-center">Vous devez choisir une activité parmis les choix proposés !</h3>
    </header>

    <div class="row mt-5">
        <div class="col-lg-4 text-center mt-5 choice">
          Aller boire un verre
        </div>
        <div class="col-lg-4 text-center mt-5 choice">
          Se faire un restaurant
        </div>
        <div class="col-lg-4 text-center mt-5 choice">
          Faire du sport
        </div>
    </div>
</section>
