section {
  height: 80vh;
  width: 50%;
  -webkit-box-shadow: 0 9px 14px 0 rgba(62, 108, 200, 0.49);
  box-shadow: 0 9px 14px 0 rgba(62, 108, 200, 0.49);
  border: 1px solid rgba(30, 30, 30, 0.1);
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  /* -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
}

.choice{
  font-size: 1.6em;
  border: 1px dashed silver;
  padding: 15px;
  cursor: pointer;
}

.choice:hover{
  color: white;
  background: linear-gradient(-132deg,#FD605D 21%,#FD3769 55%,#FE007A 100%);
  -webkit-box-shadow: 0 8px 24px #feaaa9;
  box-shadow: 0 8px 24px #feaaa9;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper > div {
  width: 200px;
  height: 200px;
  position: relative;
  animation: scale 0.7s forwards;
  -moz-animation: scale 0.7s forwards; /* Firefox */
  -webkit-animation: scale 0.7s forwards; /* Safari and Chrome */
  -o-animation: scale 0.7s forwards; /* Opera */
}

.wrapper > div > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.map {
  transform: perspective(0px) translate3d(0px, 0px, 0px) rotateX(0deg) scale(0);
  width: 200px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.3);
  background-image: url('/assets/img/map.jpg');
  background-size:cover;
  background-position:50% 50%;
  animation: perspective forwards;
  -moz-animation: perspective forwards; /* Firefox */
  -webkit-animation: perspective forwards; /* Safari and Chrome */
  -o-animation: perspective forwards; /* Opera */
}

.zone-blue {
  width: 300px;
  height: 400px;
  position: absolute;
  background:#2980b9;
  transform: rotate(60deg) translateX(100px) scale(0);
  animation: scale-blue 0.7s forwards;
  -moz-animation: scale-blue 0.7s forwards; /* Firefox */
  -webkit-animation: scale-blue 0.7s forwards; /* Safari and Chrome */
  -o-animation: scale-blue 0.7s forwards; /* Opera */
  animation-delay: 0.7s;
  z-index: 2;
}

.zone-green {
  width: 300px;
  height: 400px;
  position: absolute;
  background:#2ecc71;
  transform: rotate(90deg) translateY(200px) scale(0);
  animation: scale-green 0.7s forwards;
  -moz-animation: scale-green 0.7s forwards; /* Firefox */
  -webkit-animation: scale-green 0.7s forwards; /* Safari and Chrome */
  -o-animation: scale-green 0.7s forwards; /* Opera */
  animation-delay: 1.1s;
  z-index: 1;
}

.pin {
  transform: rotate(-45deg) scale(0);
  width: 60px;
  height: 60px;
  background: #d74d3c;
  border-radius: 50% 50% 50% 5px;
  z-index: 100;
  animation: pin 0.7s forwards;
  -moz-animation: pin 0.7s forwards; /* Firefox */
  -webkit-animation: pin 0.7s forwards; /* Safari and Chrome */
  -o-animation: pin 0.7s forwards; /* Opera */
  animation-delay: 0.9s;
}


.pin-inner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  background: #902a1d;
}


@keyframes pin {
  from {
    transform: translateY(-150px) rotate(-45deg) scale(0) perspective(0px);
  }
  to {
    transform: translateY(-50px) rotate(-45deg) scale(1) perspective(0px);
  }
}

@keyframes scale-blue {
  from {
    transform: rotate(60deg) translateX(100px) scale(0);
  }
  to {
    transform: rotate(60deg) translateX(100px) scale(1);
  }
}

@keyframes scale-green {
  from {
    transform: rotate(90deg) translateY(200px)scale(0);
  }
  to {
    transform: rotate(150deg) translateY(150px) scale(1);
  }
}

@keyframes perspective {
  from {
    transform: perspective(0px) translate3d(0px, 0px, 0px) rotateX(0deg) scale(0);
  }
  to {
    transform: perspective(1000px) rotateX(50deg) scale(1);
  }
}


@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
