<div class="row">
  <div class="col-lg-6 mt-3">
    <h3>Recherche un lieu</h3>
    <form #searchForm="ngForm" (ngSubmit)="searchPlace(searchForm.value.place)" class="form-inline">
      <div class="form-group mb-2">
        <input type="text" ngModel name="place" class="form-control" placeholder="Rechercher un lieu" minlength="50">
      </div>
      <button type="submit" class="btn btn-primary mb-2 ml-2">rechercher</button>

      <button type="button" class="btn btn-danger mb-2 ml-2" (click)="resetForm(searchForm)">Réinitialiser</button>
    </form>

    <div *ngIf="places.length" class="mt-3">
      <h3>Résulats</h3>
      <ul class="list-group">
        <li *ngFor="let place of places" class="list-group-item place" (click)="select(place)" [ngClass]="{active: isActive(place)}">
          <span class="float-right">{{place.city}}</span>
          <p>
            <span>Nom: </span>{{place.name}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
