/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css');

h2{
    font-size: 1.6rem;
    margin-top: 25px;
}

h3{
  font-size: 20px;
}
