<h2>Membres actifs</h2>
<div class="row">
  <div class="col-lg-2">
    <div class="card">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/men/83.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Bruce</h5>
        <p class="card-text">B148 vers 20h30</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="card">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/men/82.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Tony</h5>
        <p class="card-text">B148 vers 20h30</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="card">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/women/81.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Helene</h5>
        <p class="card-text">Conémara vers 20h30</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
      <div class="card">
        <img class="card-img-top" src="https://randomuser.me/api/portraits/men/80.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Bruce</h5>
          <p class="card-text">B148 vers 20h30</p>
          <a href="#" class="btn btn-primary">Rejoindre</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card">
        <img class="card-img-top" src="https://randomuser.me/api/portraits/women/79.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Julie</h5>
          <p class="card-text">3 brasseurs vers 21h00</p>
          <a href="#" class="btn btn-primary">Rejoindre</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card">
        <img class="card-img-top" src="https://randomuser.me/api/portraits/men/78.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Bruce</h5>
          <p class="card-text">B148 vers 20h30</p>
          <a href="#" class="btn btn-primary">Rejoindre</a>
        </div>
      </div>
    </div>
</div>